<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center text-white">
    <div class="sidebar-brand-icon">
      <i class="fas fa-robot"></i>
      <!--<img class="img-profile " src="/assets/images/logo.png" style="width: 4rem">-->
    </div>
    <div class="sidebar-brand-text mx-3">Welcome!</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!--<li class="nav-item active">
    <a id="purchasing_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-shopping-cart"></i>
      <span>Purchasing</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="bom_btn" class="nav-link" style="cursor:pointer;">
      <i class="far fa-list-alt"></i>
      <span>Bom</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="sales_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-hand-holding-usd"></i>
      <span>Sales</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="orders_btn" class="nav-link" href="#">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>Orders</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="employees_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-users-cog"></i>
      <span>Employees</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="finance_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-pallet"></i>
      <span>Finance</span>
    </a>
  </li>-->

  <!-- Divider -->
  <!--<hr class="sidebar-divider d-none d-md-block">-->
  <!-- Sidebar Toggler (Sidebar) -->
  <!--<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>-->

  <li class="nav-item active">
    <a id="sales_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-hand-holding-usd"></i>
      <span>Sales</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="financial_log_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-coins"></i>
      <span>Financial Log</span>
    </a>
  </li>

  <li class="nav-item active">
    <a id="productio_line_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-industry"></i>
      <span>Production Line</span>
    </a>
  </li>
  <li class="nav-item active">
    <a id="simulation_ranking_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-trophy"></i>
      <span>Simulation Ranking</span>
    </a>
  </li>
  <li class="nav-item active">
    <a id="team_activity_log_btn" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-list-alt"></i>
      <span>Team Activity Log</span>
    </a>
  </li>

  <li class="nav-item active" style="position: absolute; left: 0%; bottom: 0;">
    <a id="tutorial_simulation" class="nav-link" style="cursor:pointer;">
      <i class="fas fa-question-circle"></i>
      <span>Help</span>
    </a>
  </li>

</ul>
<!-- End of Sidebar -->

<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row p-3">
          <span style="font-size: small;">Key <i class="fas fa-arrow-left"></i> : Move to the left side</span>
        </div>
        <div class="row p-3">
          <span style="font-size: small;">Key <i class="fas fa-arrow-right"></i>: Move to the right side</span>
        </div>
        <div class="row p-3">
          <span style="font-size: small;"><strong>Space Bar</strong> Key: Activate portals</span>
        </div>
        <div class="row p-3">
          <span style="font-size: small;"><strong>Space Bar</strong> key: Activate computer components</span>
        </div>
      </div>
    </div>
  </div>
</div>