<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center text-white">
    <div class="sidebar-brand-icon">
      <i class="fas fa-robot"></i>
      <!--<img class="img-profile " src="/assets/images/logo.png" style="width: 4rem">-->
    </div>
    <div class="sidebar-brand-text mx-3">Welcome!</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <li class="nav-item <%- menu_item === 'Groups' ? 'active' : '' %>">
    <a class="nav-link" href="/advisers/groups" >
      <i class="fas fa-chalkboard-teacher"></i>
      <span>Groups</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <li class="nav-item <%- menu_item === 'Simulations' ? 'active' : '' %>">
    <a class="nav-link" href="/advisers/simulations" >
      <i class="fas fa-robot"></i>
      <span>Simulations</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <li class="nav-item <%- menu_item === 'Profile' ? 'active' : '' %>">
    <a class="nav-link" href="/advisers/profile" >
      <i class="fas fa-user"></i>
      <span>Profile</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->