<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <label for="" style="margin-top:1%;" class="text-center text-primary font-weight-bold ml-1 h5">NOVUSTEC</label>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small font-weight-bold">Adviser : <%=currentUser.get("nombre")%> <%=currentUser.get("apellidoPaterno")%></span>
        <% if( currentUser.get("colorRobot") == undefined || currentUser.get("colorRobot") == ""){ %>
         <i class=" text-dark fas fa-user-tie fa-2x img-profile" style="width: 4rem; height:4rem; padding-top:8%;"></i>
        <% }else{ %>
         <img id="image_top_bar" class="img-profile" src="/simulacion/images/<%=currentUser.get("colorRobot")%>_robot_crouch_000.png" style="width: 4rem; height:4rem;">
        <% } %>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <!--<div class="dropdown-divider"></div>-->
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Log Out
        </a>

        <% if(permission){ %>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#goAdminView" >
            <i class="fas fa-users-cog fa-sm fa-fw mr-2 text-gray-400"></i>
            Administrator view
          </a>
        <%}%>
        <!--</div> -->
      </div>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to logout?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/acceso/cerrar_sesion">Log Out</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="goAdminView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change view!</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Do you want to switch to the advisor view?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/administrador">Ok</a>
      </div>
    </div>
  </div>
</div>