<!-- Modal -->
<div class="modal fade" id="financeModal" tabindex="-1" aria-labelledby="financeModalLabel" aria-hidden="true"
  style="overflow-y: scroll;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="financeModalLabel">Finance</h5>
        <div class="ml-5">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-fixed-asset-inventary-tab" data-toggle="pill"
                href="#pills-fixed-asset-inventary" role="tab" aria-controls="pills-fixed-asset-inventary"
                aria-selected="true">Fixed asset inventary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-purchasing-fixed-asset-tab" data-toggle="pill"
                href="#pills-purchasing-fixed-asset" role="tab" aria-controls="pills-purchasing-fixed-asset"
                aria-selected="false">Purchasing fixed asset</a>
            </li>
          </ul>
        </div>
        <button type="button" class="close style_button_close"  data-dismiss="modal" aria-label="Close">
          X
        </button>
      </div>
      <div class="modal-body">
        <div id="text_message_fixed_Asset" class="text-white text-center mb-2 font-weight-bold"></div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-fixed-asset-inventary" role="tabpanel"
            aria-labelledby="pills-fixed-asset-inventary-tab">
            <div id="fixedAssetInventoryTableDiv">
              <div class="table-responsive">
                <table class="table table-bordered text-dark" id="financeFixedAssetInventoryDataTable" width="100%"
                  cellspacing="0">

                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-purchasing-fixed-asset" role="tabpanel"
            aria-labelledby="pills-purchasing-fixed-asset-tab">
            <div class="row justify-content-end">
              <p class="mr-3 mt-2 font-weight-bold align-self-end text-dark">Current Money : <span
                  id="span_money_team_purchasing_fixed_asset"></span></p>
            </div>
            <!--Body request Raw Material-->
            <div class="row mt-1">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 ">
                <div class="purchasingFixedAsset">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="purchasingFixedAssetDataTable" width="100%" cellspacing="0">

                    </table>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 ">
                <!--<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">-->
                <div class="card shadow " style="height:490px;">
                  <div class="card-header">
                    <h5 class="text-center font-weight-bold"> Purchasing Cart</h5>
                  </div>
                  <div class="card-body">
                    <div id="table_Purchasing_Cart_Fixed_Asset">

                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <div class="mt-2">
                              <label class="form-label font-weight-bold" for="totalCostPurchasingFixedAsset">
                                Purchasing total :
                              </label>
                              <label class="form-label" id="totalCostPurchasingFixedAsset">$0</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-row align-items-center">
                          <div class="col block">
                            <div class="d-flex justify-content-end mt-2">
                              <button type="button" id="create_order_purchasing_fixed_asset"
                                class="btn btn-primary font-weight-bold">Purchase Fix Assets</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsAsset" tabindex="-1" role="dialog" aria-labelledby="detailsAssetLabel"
  aria-hidden="true" style="background-color: rgba(0,0,0,0.7)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assetNameFAI"></h5>
        <button type="button" class="close style_button_close mb-0"  data-dismiss="modal" aria-label="Close">
          X
        </button>
      </div>
      <div class="modal-body">

        <div class="row justify-content-center mt-2 ">
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Serial number</h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="serialNumberFAI"></label>
            </div>
          </div>
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Acquisition date</h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="acquisitionDateFAI"></label>
            </div>

          </div>
        </div>

        <div class="row justify-content-center mt-2">
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Model</h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="modelFAI"></label>
            </div>
          </div>
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Mark</h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="markFAI"></label>
            </div>
          </div>
        </div>

        <hr class="m-1">

        <div class="row text-center justify-content-center mt-2" style="text-align:center">
          <h5 class="text-center font-weight-bold" for="">Description</h5>
        </div>
        <div class="row text-center justify-content-center" style="text-align:center">
          <textarea disabled class="text-center" id="descriptionFAI"></textarea>
        </div>

        <hr class="m-1 mt-3">

        <div class="row justify-content-center mt-2 ">
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Price sale </h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="priceSaleFAI"></label>
            </div>
          </div>
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Price cost </h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="priceCosteFAI"></label>
            </div>

          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Time life </h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="timeLifeFAI"></label>
            </div>
          </div>
          <div class="col">
            <div class="row text-center justify-content-center" style="text-align:center">
              <h5 class="text-center font-weight-bold" for="">Depreciation rate</h5>
            </div>
            <div class="row text-center justify-content-center" style="text-align:center">
              <label class="text-center" id="depreciationRateFAI"></label>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPhasesFixedAsset" tabindex="-1" aria-labelledby="modalPhasesFixedAssetLabel"
  aria-hidden="true" style="background-color: rgba(0,0,0,0.7)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPhasesFixedAssetLabel">Production Line Phase</h5>
        <button type="button" class="close style_button_close"  data-dismiss="modal" aria-label="Close">
          X
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form_Phases_Fixed_Asset">
          <!--ptr fixed asset-->
          <input type="hidden" id="input_fixed_asset_ptr" name="objectId" value="">
          <input type="hidden" id="name_fixed_asset_ptr" value="">
          <div class="form-group row align-items-center text-center justify-content-center" id="select_phases">
            <div class="col-ms-6 mt-0 ml-4 mt-3 align-items-center text-center justify-content-center">
              <div class="row row">
                <label class=" col-form-label mr-3" for="select_production_line_phase_fixed_asset">Select Phase : </label>
                <select name="phaseSDMPtr" id="select_production_line_phase_fixed_asset" class="selectpicker" required>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btn_save_employeed" class="btn btn-primary">To Assign</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>