<!-- Modal -->
<div class="modal fade" id="metalComputerOptionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Raw Material Area</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
        <button type="button" class="close style_button_close"  data-dismiss="modal" aria-label="Close">
          X
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" style="margin-top: 16px;">
            <button id="btnOptionRawMaterialInventory" class="btn btn-block btn-primary">Raw Material Inventory</button>
          </div>
          <div class="col-md-12" style="margin-top: 16px;">
            <button id="btnOptionBOM" class="btn btn-block btn-primary">BOM</button>
          </div>
          <div class="col-md-12" style="margin-top: 16px;">
            <button id="btnOptionPurchasing" class="btn btn-block btn-primary">Purchasing</button>
          </div>
          <div class="col-md-12" style="margin-top: 16px;">
            <button id="btnOptionOrders" class="btn btn-block btn-primary">Orders</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>