<div class="modal fade" id="modalRanking" tabindex="-1" role="dialog" aria-labelledby="modalRankingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRankingLabel">Simulation Ranking</h5>
                <button type="button" class="close style_button_close"  data-dismiss="modal" aria-label="Close">
                    X
                    <!--<span aria-hidden="true" style="margin-top: -13px;margin-left: -7px;">&times;</span>-->
                </button>
            </div>
            <div class="modal-body" style="height: 580px;">
                <div class="table-responsive" >
                    <table class="table cell-border " id="dataTableSimualtionRanking" width="100%" cellspacing="0">

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>