<!-- Modal -->
<div class="modal fade" id="modalTeamActivityLog" tabindex="-1" role="dialog" aria-labelledby="modalTeamActivityLogLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTeamActivityLogLabel">Team Activity Log</h5>
                <button type="button" class="close style_button_close"  data-dismiss="modal" aria-label="Close">
                    X
                    <!--<span aria-hidden="true" style="margin-top: -13px;margin-left: -7px;">&times;</span>-->
                </button>
            </div>
            <div class="modal-body " style="height: 600%;">
                <div class="">
                    <div class="row">
                        <div class="col-3 pt-1" id="" >
                                <span class="text-primary font-weight-bold mb-4" style="display: flex; align-items: center;justify-content: center;">Type Activity</span>
                                <ul class="nav flex-column nav-pills mb-3 mt-3 pr-3 pl-3 pt-3 pb-3 border-top-0 shadow-sm " id="nameUserTeam" role="tablist" aria-orientation="vertical">
                                    <!--<li class="nav-item">
                                        <a class="nav-link active" id="pills-raw-material-tab" data-info="raw_material" data-toggle="pill" href="#pills-raw-material" role="tab" aria-controls="pills-raw-material" aria-selected="true">Raw Material</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-product-family-tab" data-info="product_family" data-toggle="pill" href="#pills-product-family" role="tab" aria-controls="pills-product-family" aria-selected="false">Product Family</a>
                                    </li>-->
                                </ul>
                        </div>
                        <div class="col-3 pt-1">
                            <span class="text-primary font-weight-bold mb-4" style="display: flex; align-items: center;justify-content: center;">Team Members</span>
                            
                            <div id="options">

                            </div>
                        </div>
                        <div class="col-6 " id="description">
                            <span class="text-primary font-weight-bold mb-4" style="display: flex; align-items: center;justify-content: center;">Description  Activity</span>
                            <div class="table-responsive overflow-auto shadow-sm pb-4 pl-3 pr-3 pt-2 mt-4 contentTable">
                                <table class="table cell-border display shadow-sm" id="dataTableDetailsLogs" width="100%" cellspacing="0">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetailsLog" tabindex="-1" role="dialog" aria-labelledby="modalDetailsLogLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailsLogLabel">Details Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>