<!-- Modal -->
<div class="modal fade" id="modalTutorial" tabindex="-1" role="dialog" aria-labelledby="modalTutorialLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTutorialLabel">Tutorial</h5>
                <button type="button" class="close style_button_close"  data-dismiss="modal" aria-label="Close">
                    X
                    <!--<span aria-hidden="true" style="margin-top: -13px;margin-left: -7px;">&times;</span>-->
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <img src="/assets/images/Tutorial_novustec_mouse.png" alt="">
                </div>
                <div class="row">
                    <img src="/assets/images/Tutorial_novustec_keyboard.png" alt="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>