<div class="modal fade" id="spinner" tabindex="-1" role="dialog" aria-labelledby="spinnerLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content" id="modal-content-spinner">
          <h5 class="text-center mt-3 class-text-h5 pl-3 pr-3">Processing information</h5>
          <div class="modal-body text-center text-center">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>