<%- contentFor('head')%>
<% include ./../css %>

<%- contentFor('body')%>
<body>
	<div id="phaser-game"></div>

</body>

<%- contentFor('scripts')%>
<% include ./../scripts %>
<script src="/games/game9/sceneMain.js"></script>
<script src="/games/game9/util/UiBlock.js"></script>
<script src="/games/game9/util/align.js"></script>
<script src="/games/game9/util/alignGrid.js"></script>
<script src="/games/game9/util/eventDispatcher.js"></script>
<script src="/games/game9/util/gamePad.js"></script>
<script src="/games/game9/main.js"></script>