<div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="card shadow mb-4">
      <a href="#collapseImportar" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
        aria-controls="collapseImportar">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plus-circle"></i> Import Raw Material</h6>
      </a>
    
      <div class="collapse" id="collapseImportar">
        <div class="m-3">
          <span class="text-info font-weight-bold">Depending on the type of material you want to add to the CSV, fill in the "Raw Material Category" column, adding the texts Plastics, Metals, Tires or Screws to identify which type of category the raw material belongs to.</span>
        </div>
        <div class="card-header">
          <div class="col-md-12">
            <a href="/templates/PlantillaMateriaPrima.csv" type="button" class="btn btn-primary btn-block mb-2 mt-2">Download
              CSV template</a>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal" id="form_importar_raw_material"
            action="/administrador/master_data/raw_material/import_raw_material" method="POST" enctype="multipart/form-data">
            <fieldset>

              <div class="form-group row">
                <label for="archivo_agregar" class="col-form-label col-sm-2">Upload CSV</label>
                <div class="col-md-9">
                  <input id="archivo_agregar" name="archivo" type="file" class="form-control input-md "
                    data-buttonBefore="true" data-placeholder="No selected file" required="" accept=".csv">
                </div>
              </div>

              <div id="" class="form-group row" hidden>
                <label for="select_categoria_import_raw_material" class="col-form-label col-sm-2">Category</label>
                <div class="col-md-4">
                  <select id="select_categoria_import_raw_material" name="categoriaPtr" class="form-control selectpicker" data-live-search="true" data-none-selected-text required>
  
                  </select>
                </div>
              </div>
    
              <div class="form-group">
                <div class="col-md-12">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-block">Import</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
    
      </div>
    </div>
    <div class="card shadow mb-4">
      <a href="#collapseCardRawMaterial" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardRawMaterial">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plus-circle"></i> Add Raw Material</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse" id="collapseCardRawMaterial">
        <div class="card-body">
          <form class="form-horizontal" id="form_agregar_raw_material">
            <fieldset>
              <!-- Text input-->
              <div class="form-group row">
                <label for="nombre_raw_material" class="col-form-label col-sm-2">Name</label>
                <div class="col-md-10">
                  <input id="nombre_raw_material" name="nombre" type="text" class="form-control input-md" required="">
                </div>
              </div>
  
              <div class="form-group row">
                <label for="numero_parte_raw_material" class="col-form-label col-sm-2"># Part</label>
                <div class="col-md-10">
                  <input id="numero_parte_raw_material" name="noparte" type="text" class="form-control input-md" required="">
                </div>
              </div>

              <div class="form-group row">
                <label for="code_raw_material" class="col-form-label col-sm-2">Code</label>
                <div class="col-md-10">
                  <input id="code_raw_material" name="codigo" type="text" class="form-control input-md" required="">
                </div>
              </div>
  
              <div class="form-group row">
                <label for="image_raw_material" class="col-form-label col-sm-2">Image</label>
                <div class="col-md-10">
                  <input id="image_raw_material" name="imagen" type="file" class="form-control input-md" >
                </div>
              </div>

              <div id="" class="form-group row">
                <label for="select_categoria_raw_material" class="col-form-label col-sm-2">Category</label>
                <div class="col-md-4">
                  <select id="select_categoria_raw_material" name="categoriaPtr" class="form-control selectpicker" data-live-search="true" data-none-selected-text required>
  
                  </select>
                </div>
              </div>
  
              <!-- Button -->
              <div class="form-group">
                <div class="col-md-12">
                  <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary btn-block">Save</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="editRawMaterial" tabindex="-1" role="dialog" aria-labelledby="editRawMaterialLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRawMaterial_Label"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" id="form_editar_raw_material">
                <div class="modal-body">
                    <input id="id_raw_material" name="objectId" type="hidden" class="form-control input-md" val=""
                        required="">
                    <!-- Text input-->

                    <input id="type_raw_material" name="typeRawMaterial" type="text" hidden disabled class="form-control input-md" required="">
                    
                    <div class="form-group row">
                        <label for="input_name_raw_material" class="col-form-label col-sm-2">Name</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-prepend" style="width: 100%;">
                                <input id="input_name_raw_material" name="name" type="text"
                                    class="form-control input-md" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input_image_raw_material" class="col-form-label col-sm-2">Image</label>
                        <div class="col-md-10">
                            <input id="input_image_raw_material" name="imagen" type="file"
                                class="form-control input-md">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>